
<%= will_paginate @products %>
<table style="width:500px">
  <thead>
  <tr>
    <th>Name</th>
    <th style="text-align:right;">Price</th>
    <th style="text-align:right;">Quantity</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td style="text-align:right;"><%= number_to_currency product.price %></td>
        <td style="text-align:right;"><%= product.quantity %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @products %>